@import url(
'https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
 
.wordContainer {
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Playfair Display', serif;
}
 
h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  color: #36317a;
  padding: 0.5em;
}
 
h2{
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 20px;
  margin-top: 10px;
  
}
 
h4{
  color: #36317a;
  font-weight: bolder;
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 5px;
}


input{
  width: 400px;
  height: 38px;
  font-size: 20px;
  padding-left: 10px;
  border: 5px solid #36317a;
  border-radius: 40px;
}
 
.inputClass > button{
  background-color: #36317a;
  height: 38px;
  width: 60px;
  border: none;
  color: white;
  box-shadow: 0px 3px 2px #414789;
  cursor: pointer;
  padding: 10px  0;
  border-radius: 50%;
  margin-left: 20px;
}
 
.showResults{
  width: 500px;
  margin: 30px auto;
  padding: 20px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
 
.showResults > h2 > button{
  border-radius: 30px;
  cursor: pointer;
  background-color: #24214d;
}
